<footer class="footer text-muted">
    <div class="border border-dark mt-3">
        <p class="text-center m-0 p-2 footertext">Av: Edwin Lundbäck - Kontakta mig via e-post <a class=" text-decoration-none mail" href="mailto:edwinlundback@@gmail.com">edwinlundback@@gmail.com</a></p>
    </div>
</footer>   