@inherits LayoutComponentBase
<div>
    <NavMenu />
    <main>
        <div class="con">
            <SideNav />
            <main class="main border border-dark">
                @Body
            </main>
        </div>

    </main>
    <Footers />
</div>

