@page "/"

<PageTitle>Start</PageTitle>


<div class="text-center">
    <h1 class="display-4">Välkommen</h1>
    <p>Den här sidan är skapad med Blazor WebAssembly. För att läsa mer klicka <a class="link" href="https://learn.microsoft.com/en-us/aspnet/core/blazor/?view=aspnetcore-8.0">här</a></p>
    <p>Det här är min första sida med Blazor WebAssembly. Här finns en konventerare samt en sida för utläsning från en JSON-fil.</p> 
</div>
